body{
	font-size: 16px;
	font-weight: 200;
	background: #000;
	color: $gray-lighter;
	border-top: 3px solid $brand-primary;
}

h1{
	line-height: 100%;
	margin: 0;
	position: relative;
	z-index: 10;

	img{
		width: 300px;

		@media (max-width: $screen-xs-max) {
			width: 250px;
		}

		@media (max-width: $screen-xs-min) {
			width: 200px;
		}
	}
}

.hero{
	position: relative;
	height: 100vh;

	@media (max-width: $screen-xs-max) {
		text-align: center;
	}

	> div{
		height: 100vh;
		width: 800px;
		max-width: 100%;
		position: relative;
		z-index: 5;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,1+51,0+100 */
		background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 51%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 51%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 51%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

		> div{
			position: absolute;
			top:50%;
			left: 0%;
			right: 0;
			max-width: 800px;
			padding-right: 200px;
			transform:translate(0%, -55%);

			@media (max-width: $screen-xs-max) {
				padding: 0;
			}
		}

		@media (max-width: $screen-xs-max) {
			margin: 0 auto;
			background: none;
		}
	}

	h2{
		font-weight: 500;
		font-size: 3.5rem;
		line-height: 110%;
		color: white;
		margin: 0;

		@media (max-width: $screen-xs-max) {
			font-size: 2.5rem;
		}
	}

	.matrix{
		position: absolute;
		right: -100px;
		top: 50%;
		transform: translate(0, -54%);
		z-index: 4;
		height: 550px;
		width: auto;

		@media (max-width: $screen-lg-max) {
			height: 500px;
			right: -200px;
		}

		@media (max-width: $screen-md-max) {
			right: -200px;
		}

		@media (max-width: $screen-sm-max) {
			right: -200px;
		}

		@media (max-width: $screen-xs-max) {
			right: 50%;
			transform: translate(50%, -50%);
			opacity: .2;
		}

	}

	p{
		margin: 40px 0 50px;
		font-size: 1.2rem;
	}

	.btn-container{
		width: 250px;
		margin-right: 10px;
		position: relative;
		z-index: 6;

		@media (max-width: $screen-xs-max) {
			margin: 0 10px 20px;
		}
	}

	.subscribe-form{
		position: relative;
		display: inline-block;
		vertical-align: top;

		.result{
			position: absolute;
			bottom: -10px;
			left: 0;
			font-size: 13px;
			width: 100%;
			text-align: center;
			color: white;
			transform: translate(0,100%);
			color: $brand-success;

			&.error{
				color: $brand-warning;
			}
		}

		.btn{
			position: relative;
			z-index: 6;
			width: 100%;
			float: right;
			transition: all .5s ease;
			outline: none;

			img{
				display: none;
			}
		}

		input{
			font-size: 14px;
			color: $gray-dark;
			outline: none;

			&:focus{
				outline: none;
			}
		}

		input{
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			width: 100%;
			z-index: 5;
			border: 1px solid transparent;

			&:focus, &:active{
				outline: none;
			}
		}

		&.subscribe{
			.email{
				display: block;
			}
		}


		&.submitting{
			.loading{
				display: block;
				left: 50%;
				width: 40px;
				transform: translate(-50%, -50%);
			}
		}

		&.submit, &.submitting{

			.btn{
				width: 50px;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;

				span{
					display: none;
				}
			}

		}

		&.submit{
			.send{
				display: block;
				left: auto;
				width: 20px;
			}
		}

		&.success{

			.btn{
				background: $brand-success;
			}

			.checkmark{
				display: block;
			}
		}
	}

	.btn{

		img{
			position: absolute;
			left: 10px;
			top: 50%;
			transform: translate(0, -50%);
			width: 25px;
		}

		&.telegram img{
			width: 20px;
		}

	}

}

.features{
	padding: 100px 0;

	@media (max-width: $screen-xs-max) {
		width: 300px;
		max-width: 100%;
		margin: 0 auto;
		padding: 0;

		.col-sm-4{
			margin-bottom: 65px;
		}
	}

	h4{
		color: white;
		font-weight: 500;
		text-align: center;
		font-size: 1.3rem;
		margin-top: 20px;
	}

	p{
		text-align: left;

		@media (max-width: $screen-xs-max) {
			text-align: center;
		}
	}

}